*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px 20px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

h1{
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.add-item-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input{
  flex : 1;
  padding: 10px;
  border: 3px solid aliceblue;
  border-radius: 10px;
  font-size: 20px;
}

input:focus{
  outline: none;
  border-color: aliceblue;
}

button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s;

}

button:hover{
  background-color: aliceblue;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead{
  background-color: #007bff;
  color: #fff;
}

th{
  background-color: #007bff;
}

th, td{
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

tr:nth-child(odd){
  background-color: #f9f9f9;
}
tr:nth-child(even){
  background-color: #e6f0ff;
}

input[type=checkbox],input[type=radio]{
  transform: scale(1.2);
  cursor: pointer;
}

